<!DOCTYPE html>
	<?php
	session_start();
	?>
<html> 
<head> 

			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		
			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>	
				
			<!-- Bootstrap -->
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

			<link rel = "stylesheet" type = "text/css" href ="../css/Login.css" />
			<script src="../js/dashboard.js" type="text/javascript"></script>


</head>

<body class="container" >
		<div id="result-display" class ="center">
			<form id="formstudentDash"> 
				<div class = "divCenter">
				<div id="wel" style="font-weight: bold;font-size: 30px" class="text-primary text-center" > Welcome Username  </div> <br>
					<input type="button" style="width:180px" class="btn btn-primary" id="plGame" value="Play Game"> <br/> <br/>
					<input type="button" style="width:180px" class="btn btn-default" value="Take Quiz" id= "takSQuiz"> <br/> <br/>
					<input type="button" style="width:180px" class="btn btn-default" value="See Your Reports" id= "seeReport"> <br/> <br/>
					<input type="button" style="width:180px" class="btn btn-warning" value="Logout" id= "logout"> <br/>
				</div>
			</form>
			<form id="formteacherDash"> 
				<div class = "divCenter">
					<p id="wel2" style="font-weight: bold;font-size: 30px" class="text-primary text-center"> Welcome Username </p> <br>
					<input type="button" style="width:180px" class="btn btn-primary" id="plGame"value="Play Game"> <br/> <br/>
					<input type="button" style="width:180px" class="btn btn-default" value="Take Quiz" id= "takTQuiz"> <br/> <br/>
					<input type="button" style="width:180px" class="btn btn-default" value="See Your Reports" id= "seeReport"> <br/><br/>
					<input type="button" style="width:180px" class="btn btn-default" value="See Your Class" id= "seeClass"> <br/> <br/>
					<input type="button" style="width:180px" class="btn btn-warning" value="Logout" id= "logout"> <br/>

				</div>
			</form>
		</div>
	</body>






</html>